<%= @pending_approvals.each do |pending_approvals| %>
	<div class="homepage-block col-md-3">
		<h4><%= pending_approvals.user.full_name %></h4>
		<p><span class='pending-details'>Date Submitted:</span> <%= pending_approvals.date %> </p>
		<p><span class='pending-details'>Rationale:</span> <%= truncate pending_approvals.rationale, length: 42 %> </p>
		<div class="row">
			<div class="col-md-6 column"><%= link_to 'Approve', root_path, class: "btn btn-primary btn-block" %></div>
			<div class="col-md-6 column"><%= link_to 'Approve', root_path, class: "btn btn-success btn-blcok" %></div>
		</div>
	</div>
<% end %>